label{
    font-size: 24px;
}

@media all and  (max-width: 800px) {
    label {
        font-size: 19px;
    }
}

@media all and (max-width: 600px){
    label{
        font-size: 10px;
    }
    
} 

.New{
    margin-right: 20px;
}

.Details{
    margin-right: 10px;
}

.add{
    margin-bottom: 7px;
}

input{
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 7px 1px #1C6EA4;
}