.favoriteList{
    padding-left: 0;
        }
    
    .favoriteItem{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    background: white;
    }

    .listWrapper{
        padding: 0px;
    }