.listContainer{
padding-left: 0;

}

.listItem{
display: flex;
flex-flow: row wrap;
align-items: center;
justify-content: space-between;
background: white;
}

span{
    cursor: pointer;
}

.table-container{
    width: 100%;
}
/* p{
    margin-left: 20px;
    margin-right: 20px;
} */